body {
  background: white;
}

h1#title {
  text-align: center;
}

.linksContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  background: #41463d; /* default */
  padding: 50px;
}

.buttons .btn {
  width: 150px;
  align-items: center;
  margin-right: 20px;
  background-color: #b8cdf8;
}
.buttons > button:active {
  transform: translateY(4px);
}

.linkbox {
  height: 150px;
  width: 150px;
  background: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin: 5px;
  color: black;
  font-size: 20px;
  border-radius: 0;
  animation: bounceIn;
  animation-duration: 0.5s;
}
